.App {
  text-align: center;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
}

.countryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countryCard {
  width: calc(100% / 7);
  margin: 10px;
}

.countryCard img {
  width: 100%;
  border-radius: 5px;
}

.countryCard h2 {
  margin-top: 10px;
  font-size: 16px;
}
